*{
    font-family: cursive;
    overflow-x: hidden;
}
 td,th {
    border: 1px solid #191818;
    text-align: left;
    padding: 9px;
  }
  #info td{
    padding: 1px;
  }
  #info input{
    width: 100%;
  }
@media screen and (max-width:727px) {
    #info input{
        width: 6rem;
    }
}