*{
    font-family: cursive;
    overflow-x: hidden;
}
 td,th {
    border: 1px solid #191818;
    text-align: left;
    padding: 5px;
  }
#new{
  display: flex;
  justify-content: space-between;
  width: 90%;
}
#new input{
  margin: 4px;
  width: 18%;
}